<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        .container > * {
            margin: 8px;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h1 align="center">URL Shortner</h1>
    <div class="container">
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
    </div>
</body>
</html>